# Java Mail Sender
SMTP_USERNAME="YOUR EMAIL"
SMTP_PASSWORD="YOUR PASSWORD"

# Google OAuth2
GOOGLE_CLIENT_ID="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_CLIENT_SECRET"
GOOGLE_REDIRECT_URI="GOOGLE_REDIRECT_URI"
GOOGLE_GRANT_TYPE="GOOGLE_GRANT_TYPE"
# http://localhost:8000/api/v1/oauth2/authorization/google

# Facebook OAuth2
FACEBOOK_LINK_GET_TOKEN="FACEBOOK_LINK_GET_TOKEN"
FACEBOOK_CLIENT_ID="FACEBOOK_CLIENT_ID"
FACEBOOK_CLIENT_SECRET="FACEBOOK_CLIENT_SECRET"
FACEBOOK_REDIRECT_URI="FACEBOOK_REDIRECT_URI"
FACEBOOK_GRANT_TYPE="FACEBOOK_GRANT_TYPE"
FACEBOOK_LINK_GET_USER_INFO="FACEBOOK_LINK_GET_USER_INFO"

# Bank Payment
BANK_CODE=
ACCOUNT_NUMBER=

# URI
WEB_FRONTEND=http://localhost:5173/
OPENAPI_PATH="http://localhost:8000/v3/api-docs"
