<!--
  Created by IntelliJ IDEA.
  User: TranHoan
  Date: 6/21/2025
  Time: 6:53 PM
  To change this template use File | Settings | File Templates.
-->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown" id="title">Quezee</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center" id="liItems"></ol>
                </nav>
            </div>
        </div>
    </div>
</div>