-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: swp391
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT = @@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS = @@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION = @@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE = @@TIME_ZONE */;
/*!40103 SET TIME_ZONE = '+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS = @@UNIQUE_CHECKS, UNIQUE_CHECKS = 0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS = @@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS = 0 */;
/*!40101 SET @OLD_SQL_MODE = @@SQL_MODE, SQL_MODE = 'NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES = @@SQL_NOTES, SQL_NOTES = 0 */;

--
-- Table structure for table `account`
--

DROP TABLE IF EXISTS `account`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account`
(
    `id`           varchar(36)  NOT NULL,
    `email`        varchar(255) NOT NULL,
    `full_name`    varchar(255) NOT NULL,
    `password`     varchar(255) NOT NULL,
    `dob`          date         DEFAULT NULL,
    `gender`       tinyint(1)   DEFAULT NULL,
    `created_date` date         NOT NULL,
    `status`       tinyint(1)   NOT NULL,
    `phone`        varchar(255) NOT NULL,
    `image_url`    varchar(255) DEFAULT NULL,
    `role_id`      varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `email` (`email`),
    KEY `role` (`role_id`),
    CONSTRAINT `role` FOREIGN KEY (`role_id`) REFERENCES `setting` (`id`),
    CONSTRAINT `account_chk_1` CHECK ((`gender` in (0, 1, 2))),
    CONSTRAINT `account_chk_2` CHECK (regexp_like(`email`,
                                                  _utf8mb4'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$')),
    CONSTRAINT `account_chk_4` CHECK (regexp_like(`phone`, _utf8mb4'^\\+?[0-9]{10,15}$'))
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account`
--

-- Default password: Hoan1234.
LOCK TABLES `account` WRITE;
/*!40000 ALTER TABLE `account`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `account`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blog`
--

DROP TABLE IF EXISTS `blog`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blog`
(
    `id`           varchar(36)  NOT NULL,
    `updated_date` date                  DEFAULT NULL,
    `title`        varchar(255) NOT NULL,
    `brief_info`   varchar(255) NOT NULL,
    `content`      text,
    `status`       tinyint(1)   NOT NULL DEFAULT '1',
    `created_date` date         NOT NULL,
    `category`     varchar(36)  NOT NULL,
    `account_id`   varchar(36)  NOT NULL,
    `flag_feature` tinyint(1)            DEFAULT '1',
    `views`        int          NOT NULL DEFAULT '0',
    PRIMARY KEY (`id`),
    KEY `FKBlog922018` (`account_id`),
    KEY `post categories` (`category`),
    CONSTRAINT `FKBlog922018` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`),
    CONSTRAINT `post categories` FOREIGN KEY (`category`) REFERENCES `setting` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blog`
--

LOCK TABLES `blog` WRITE;
/*!40000 ALTER TABLE `blog`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `blog`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blogmedia`
--

DROP TABLE IF EXISTS `blogmedia`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `blogmedia`
(
    `id`            varchar(36)            NOT NULL,
    `blog_id`       varchar(36)            NOT NULL,
    `media_type`    enum ('image','video') NOT NULL,
    `file_path`     varchar(1000)          NOT NULL,
    `caption`       text,
    `display_order` int DEFAULT '0',
    PRIMARY KEY (`id`),
    KEY `FK_BlogMedia_Blog` (`blog_id`),
    CONSTRAINT `FK_BlogMedia_Blog` FOREIGN KEY (`blog_id`) REFERENCES `blog` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blogmedia`
--

LOCK TABLES `blogmedia` WRITE;
/*!40000 ALTER TABLE `blogmedia`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `blogmedia`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact`
--

DROP TABLE IF EXISTS `contact`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contact`
(
    `id`      varchar(36)  NOT NULL,
    `name`    varchar(255) NOT NULL,
    `link`    json         NOT NULL,
    `email`   varchar(255) NOT NULL,
    `phone`   varchar(11)  NOT NULL,
    `address` varchar(500) NOT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `email` (`email`),
    CONSTRAINT `contact_chk_2` CHECK (regexp_like(`email`,
                                                  _utf8mb4'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$')),
    CONSTRAINT `contact_chk_4` CHECK (regexp_like(`phone`, _utf8mb4'^\\+?[0-9]{10,15}$'))
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact`
--

LOCK TABLES `contact` WRITE;
/*!40000 ALTER TABLE `contact`
    DISABLE KEYS */;
INSERT INTO `contact`
VALUES ('9b179f19-5179-11f0-b7ee-088fc33f56c7', 'Tech Solutions Inc.', '{
  \"website\": \"https://techsolutions.com\",
  \"linkedin\": \"https://linkedin.com/company/techsolutions\"
}', 'info@techsolutions.com', '0901112223', '123 Tech Avenue, Innovation City'),
       ('9b1a6f2d-5179-11f0-b7ee-088fc33f56c7', 'Global Education Ltd.', '{
         \"website\": \"https://globaledu.org\",
         \"facebook\": \"https://facebook.com/globaledu\"
       }', 'contact@globaledu.org', '0912223334', '456 Learning Street, Knowledge Town'),
       ('9b1d47f8-5179-11f0-b7ee-088fc33f56c7', 'Innovate Consulting', '{
         \"twitter\": \"https://twitter.com/innovatecon\",
         \"website\": \"https://innovateconsulting.net\"
       }', 'support@innovateconsulting.net', '0923334445', '789 Idea Road, Creative Hub'),
       ('9b1ffae9-5179-11f0-b7ee-088fc33f56c7', 'Health & Wellness Co.', '{
         \"website\": \"https://healthwellness.co\",
         \"instagram\": \"https://instagram.com/healthwellness\"
       }', 'care@healthwellness.co', '0934445556', '101 Health Lane, Vitality Village'),
       ('9b224efc-5179-11f0-b7ee-088fc33f56c7', 'Digital Marketing Pros', '{
         \"website\": \"https://digitalmarketing.com\",
         \"youtube\": \"https://youtube.com/digitalmarketing\"
       }', 'hello@digitalmarketing.com', '0945556667', '202 Digital Boulevard, Marketing City'),
       ('9b24cd1f-5179-11f0-b7ee-088fc33f56c7', 'Creative Design Studio', '{
         \"website\": \"https://creativedesign.studio\",
         \"pinterest\": \"https://pinterest.com/creativedesign\"
       }', 'design@creativedesign.studio', '0956667778', '303 Art Street, Design District'),
       ('9b2734ef-5179-11f0-b7ee-088fc33f56c7', 'Finance Experts LLC', '{
         \"website\": \"https://financeexperts.com\",
         \"linkedin\": \"https://linkedin.com/company/financeexperts\"
       }', 'advisory@financeexperts.com', '0967778889', '404 Wealth Plaza, Capital City'),
       ('9b29abd3-5179-11f0-b7ee-088fc33f56c7', 'Eco-Friendly Solutions', '{
         \"website\": \"https://ecosolutions.org\",
         \"facebook\": \"https://facebook.com/ecosolutions\"
       }', 'info@ecosolutions.org', '0978889990', '505 Green Avenue, Sustainability Town'),
       ('9b2c5688-5179-11f0-b7ee-088fc33f56c7', 'Event Planners Hub', '{
         \"website\": \"https://eventplanners.com\",
         \"instagram\": \"https://instagram.com/eventplanners\"
       }', 'plan@eventplanners.com', '0990001112', '707 Celebration Lane, Event Village'),
       ('9b2e9e4a-5179-11f0-b7ee-088fc33f56c7', 'Support Team A', '{
         \"website\": \"http://yourwebsite.com/main_image.png\",
         \"social media\": \"http://facebook.com/your_page_image.jpg\"
       }', 'supportA@example.com', '0901234567', '123 Support St, Hanoi'),
       ('9b30cc62-5179-11f0-b7ee-088fc33f56c7', 'Support Team B', '{
         \"website\": \"http://yourwebsite.com/main_image.png\",
         \"social media\": \"http://facebook.com/your_page_image.jpg\"
       }', 'supportB@example.com', '0902345678', '456 Service Rd, Ho Chi Minh'),
       ('9b32fbf0-5179-11f0-b7ee-088fc33f56c7', 'Support Team C', '{
         \"website\": \"http://yourwebsite.com/main_image.png\",
         \"social media\": \"http://facebook.com/your_page_image.jpg\"
       }', 'supportC@example.com', '0903456789', '789 Help Ave, Da Nang'),
       ('9b3520b7-5179-11f0-b7ee-088fc33f56c7', 'Support Team D', '{
         \"website\": \"http://yourwebsite.com/main_image.png\",
         \"social media\": \"http://facebook.com/your_page_image.jpg\"
       }', 'supportD@example.com', '0904567890', '101 Assistance Blv, Can Tho'),
       ('9b37472d-5179-11f0-b7ee-088fc33f56c7', 'Support Team E', '{
         \"website\": \"http://yourwebsite.com/main_image.png\",
         \"social media\": \"http://facebook.com/your_page_image.jpg\"
       }', 'supportE@example.com', '0905678901', '202 Query Lane, Hai Phong'),
       ('9b3996d9-5179-11f0-b7ee-088fc33f56c7', 'Legal Aid Services', '{
         \"twitter\": \"https://twitter.com/legalaid\",
         \"website\": \"https://legalaid.com\"
       }', 'consult@legalaid.com', '0989990001', '606 Justice Road, Law City');
/*!40000 ALTER TABLE `contact`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course`
(
    `id`                varchar(36)  NOT NULL,
    `title`             varchar(255) NOT NULL,
    `duration`          float        NOT NULL,
    `status`            tinyint(1)   NOT NULL DEFAULT '1',
    `description`       varchar(500) NOT NULL,
    `created_date`      date         NOT NULL,
    `updated_date`      date                  DEFAULT NULL,
    `thumbnail_url`     varchar(1000)         DEFAULT NULL,
    `number_of_lessons` int          NOT NULL,
    `topic_id`          varchar(36)  NOT NULL,
    `contact`           varchar(36)  NOT NULL,
    `expert_id`         varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKCourse6215` (`contact`),
    KEY `FKCourse968779` (`topic_id`),
    KEY `fk_course_expert` (`expert_id`),
    CONSTRAINT `fk_course_expert` FOREIGN KEY (`expert_id`) REFERENCES `account` (`id`),
    CONSTRAINT `FKCourse6215` FOREIGN KEY (`contact`) REFERENCES `contact` (`id`),
    CONSTRAINT `FKCourse968779` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `course`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learningmaterial`
--

DROP TABLE IF EXISTS `learningmaterial`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `learningmaterial`
(
    `id`                varchar(36)   NOT NULL,
    `title`             varchar(255)  NOT NULL,
    `updated_date`      date          DEFAULT NULL,
    `duration`          int           NOT NULL,
    `video_content_url` varchar(1000) DEFAULT NULL,
    `html_content`      varchar(1000) NOT NULL,
    PRIMARY KEY (`id`),
    CONSTRAINT `FKLearningMa384166` FOREIGN KEY (`id`) REFERENCES `lesson` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learningmaterial`
--

LOCK TABLES `learningmaterial` WRITE;
/*!40000 ALTER TABLE `learningmaterial`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `learningmaterial`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lesson`
--

DROP TABLE IF EXISTS `lesson`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lesson`
(
    `id`             varchar(36)  NOT NULL,
    `status`         tinyint(1)   NOT NULL DEFAULT '1',
    `name`           varchar(255) NOT NULL,
    `course_id`      varchar(36)  NOT NULL,
    `lesson_type_id` varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKLesson764776` (`course_id`),
    KEY `lesson types` (`lesson_type_id`),
    CONSTRAINT `FKLesson764776` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`),
    CONSTRAINT `lesson types` FOREIGN KEY (`lesson_type_id`) REFERENCES `setting` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lesson`
--

LOCK TABLES `lesson` WRITE;
/*!40000 ALTER TABLE `lesson`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `lesson`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `option`
--

DROP TABLE IF EXISTS `option`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `option`
(
    `id`          varchar(36)  NOT NULL,
    `content`     varchar(255) NOT NULL,
    `is_true`     tinyint(1)   NOT NULL DEFAULT '0',
    `explanation` varchar(255) NOT NULL,
    `question_id` varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKOption204933` (`question_id`),
    CONSTRAINT `FKOption204933` FOREIGN KEY (`question_id`) REFERENCES `question` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `option`
--

LOCK TABLES `option` WRITE;
/*!40000 ALTER TABLE `option`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `option`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personalcourse`
--

DROP TABLE IF EXISTS `personalcourse`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personalcourse`
(
    `id`          varchar(36) NOT NULL,
    `account_id`  varchar(36) NOT NULL,
    `course_id`   varchar(36) NOT NULL,
    `expire_date` date                 DEFAULT NULL,
    `enroll_date` date        NOT NULL,
    `progress`    int         NOT NULL DEFAULT '0',
    `status`      varchar(255)         DEFAULT 'SENT',
    PRIMARY KEY (`id`),
    KEY `FKPersonalCo602046` (`course_id`),
    KEY `FKPersonalCo728981` (`account_id`),
    CONSTRAINT `FKPersonalCo602046` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`),
    CONSTRAINT `FKPersonalCo728981` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`),
    CONSTRAINT `personalcourse_chk_1` CHECK ((`status` in
                                              (_utf8mb4'PAID', _utf8mb4'SENT', _utf8mb4'ACCEPTED', _utf8mb4'DECLINED')))
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personalcourse`
--

LOCK TABLES `personalcourse` WRITE;
/*!40000 ALTER TABLE `personalcourse`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `personalcourse`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personallesson`
--

DROP TABLE IF EXISTS `personallesson`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personallesson`
(
    `id`         varchar(36) NOT NULL,
    `account_id` varchar(36) NOT NULL,
    `lesson_id`  varchar(36) NOT NULL,
    `isDone`     tinyint(1)  NOT NULL DEFAULT '0',
    PRIMARY KEY (`id`),
    KEY `FKPersonalLe846456` (`lesson_id`),
    KEY `FKPersonalLe96067` (`account_id`),
    CONSTRAINT `FKPersonalLe846456` FOREIGN KEY (`lesson_id`) REFERENCES `lesson` (`id`),
    CONSTRAINT `FKPersonalLe96067` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personallesson`
--

LOCK TABLES `personallesson` WRITE;
/*!40000 ALTER TABLE `personallesson`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `personallesson`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personaloption`
--

DROP TABLE IF EXISTS `personaloption`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personaloption`
(
    `id`         varchar(36) NOT NULL,
    `option_id`  varchar(36) NOT NULL,
    `account_id` varchar(36) NOT NULL,
    `has_chosen` tinyint(1)  NOT NULL DEFAULT '0',
    PRIMARY KEY (`id`),
    KEY `FKPersonalOp32617` (`account_id`),
    KEY `FKPersonalOp130168` (`option_id`),
    CONSTRAINT `FKPersonalOp130168` FOREIGN KEY (`option_id`) REFERENCES `option` (`id`),
    CONSTRAINT `FKPersonalOp32617` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personaloption`
--

LOCK TABLES `personaloption` WRITE;
/*!40000 ALTER TABLE `personaloption`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `personaloption`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personalquestion`
--

DROP TABLE IF EXISTS `personalquestion`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personalquestion`
(
    `id`          varchar(36) NOT NULL,
    `account_id`  varchar(36) NOT NULL,
    `question_id` varchar(36) NOT NULL,
    `has_answer`  tinyint(1)  NOT NULL DEFAULT '0',
    `is_mark`     tinyint(1)  NOT NULL DEFAULT '0',
    PRIMARY KEY (`id`),
    KEY `FKPersonalQu428012` (`question_id`),
    KEY `FKPersonalQu214880` (`account_id`),
    CONSTRAINT `FKPersonalQu214880` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`),
    CONSTRAINT `FKPersonalQu428012` FOREIGN KEY (`question_id`) REFERENCES `question` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personalquestion`
--

LOCK TABLES `personalquestion` WRITE;
/*!40000 ALTER TABLE `personalquestion`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `personalquestion`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personalquiz`
--

DROP TABLE IF EXISTS `personalquiz`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personalquiz`
(
    `id`                         varchar(36) NOT NULL,
    `account_id`                 varchar(36) NOT NULL,
    `quiz_id`                    varchar(36) NOT NULL,
    `has_passed`                 tinyint(1)  NOT NULL DEFAULT '0',
    `mark`                       int                  DEFAULT NULL,
    `number_of_correct_question` int                  DEFAULT NULL,
    `taken_date`                 date        NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKPersonalQu344927` (`account_id`),
    KEY `FKPersonalQu344926` (`quiz_id`),
    CONSTRAINT `FKPersonalQu344926` FOREIGN KEY (`quiz_id`) REFERENCES `quiz` (`id`),
    CONSTRAINT `FKPersonalQu344927` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personalquiz`
--

LOCK TABLES `personalquiz` WRITE;
/*!40000 ALTER TABLE `personalquiz`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `personalquiz`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personalsubject`
--

DROP TABLE IF EXISTS `personalsubject`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personalsubject`
(
    `account_id`        varchar(36) NOT NULL,
    `subject_id`        varchar(36) NOT NULL,
    `status`            varchar(50) NOT NULL DEFAULT 'sent',
    `registration_date` date        NOT NULL,
    `package_name`      varchar(255)         DEFAULT NULL,
    `valid_from`        date                 DEFAULT NULL,
    `valid_to`          date                 DEFAULT NULL,
    `price`             double               DEFAULT NULL,
    PRIMARY KEY (`account_id`, `subject_id`),
    KEY `account_id` (`account_id`),
    KEY `subject_id` (`subject_id`),
    CONSTRAINT `personalsubject_ibfk_1` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`),
    CONSTRAINT `personalsubject_ibfk_2` FOREIGN KEY (`subject_id`) REFERENCES `subject` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personalsubject`
--

LOCK TABLES `personalsubject` WRITE;
/*!40000 ALTER TABLE `personalsubject`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `personalsubject`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricepackage`
--

DROP TABLE IF EXISTS `pricepackage`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pricepackage`
(
    `id`              varchar(36)  NOT NULL,
    `course_id`       varchar(36)  NOT NULL,
    `title`           varchar(255) NOT NULL,
    `price`           int          NOT NULL,
    `sale_price`      int          NOT NULL,
    `access_duration` int          NOT NULL,
    `status`          tinyint(1)   NOT NULL DEFAULT '0',
    `description`     varchar(255)          DEFAULT NULL,
    PRIMARY KEY (`id`, `course_id`),
    KEY `FKPricePacka152688` (`course_id`),
    CONSTRAINT `FKPricePacka152688` FOREIGN KEY (`course_id`) REFERENCES `course` (`id`),
    CONSTRAINT `pricepackage_chk_1` CHECK ((`sale_price` <= 100))
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricepackage`
--

LOCK TABLES `pricepackage` WRITE;
/*!40000 ALTER TABLE `pricepackage`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `pricepackage`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question`
--

DROP TABLE IF EXISTS `question`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question`
(
    `id`          varchar(36)  NOT NULL,
    `content`     varchar(255) NOT NULL,
    `topic_id`    varchar(36)           DEFAULT NULL,
    `quiz_id`     varchar(36)           DEFAULT NULL,
    `level`       varchar(255) NOT NULL,
    `subject_id`  varchar(36)           DEFAULT NULL,
    `lesson_id`   varchar(36)           DEFAULT NULL,
    `status`      tinyint(1)   NOT NULL DEFAULT '1',
    `explanation` text,
    PRIMARY KEY (`id`),
    KEY `FKQuestion523038` (`topic_id`),
    KEY `FKQuestion112697` (`quiz_id`),
    KEY `FK_Question_Subject` (`subject_id`),
    KEY `FK_Question_Lesson` (`lesson_id`),
    CONSTRAINT `FK_Question_Lesson` FOREIGN KEY (`lesson_id`) REFERENCES `lesson` (`id`),
    CONSTRAINT `FK_Question_Subject` FOREIGN KEY (`subject_id`) REFERENCES `subject` (`id`),
    CONSTRAINT `FKQuestion112697` FOREIGN KEY (`quiz_id`) REFERENCES `quiz` (`id`),
    CONSTRAINT `FKQuestion523038` FOREIGN KEY (`topic_id`) REFERENCES `topic` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question`
--

LOCK TABLES `question` WRITE;
/*!40000 ALTER TABLE `question`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `question`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_media`
--

DROP TABLE IF EXISTS `question_media`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_media`
(
    `id`            varchar(36)            NOT NULL,
    `question_id`   varchar(36)            NOT NULL,
    `media_type`    enum ('image','video') NOT NULL,
    `file_path`     varchar(1000)          NOT NULL,
    `caption`       text,
    `display_order` int DEFAULT '0',
    PRIMARY KEY (`id`),
    KEY `FK_QuestionMedia_Question` (`question_id`),
    CONSTRAINT `FK_QuestionMedia_Question` FOREIGN KEY (`question_id`) REFERENCES `question` (`id`) ON DELETE CASCADE
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_media`
--

LOCK TABLES `question_media` WRITE;
/*!40000 ALTER TABLE `question_media`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `question_media`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz`
--

DROP TABLE IF EXISTS `quiz`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz`
(
    `id`                 varchar(36)  NOT NULL,
    `duration`           int          NOT NULL,
    `status`             tinyint(1)   NOT NULL DEFAULT '0',
    `pass_rate`          float                 DEFAULT NULL,
    `updated_date`       date         NOT NULL,
    `number_of_question` int          NOT NULL DEFAULT '0',
    `description`        varchar(255) NOT NULL,
    `title`              varchar(255) NOT NULL,
    `subject_id`         varchar(36)  NOT NULL,
    `type`               varchar(36)  NOT NULL,
    `level`              varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKQuiz471131` (`level`),
    KEY `FKQuiz75766` (`type`),
    KEY `FKQuiz767071` (`subject_id`),
    CONSTRAINT `FKQuiz471131` FOREIGN KEY (`level`) REFERENCES `quizlevel` (`id`),
    CONSTRAINT `FKQuiz75766` FOREIGN KEY (`type`) REFERENCES `quiztype` (`id`),
    CONSTRAINT `FKQuiz767071` FOREIGN KEY (`subject_id`) REFERENCES `subject` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz`
--

LOCK TABLES `quiz` WRITE;
/*!40000 ALTER TABLE `quiz`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_question_source_config`
--

DROP TABLE IF EXISTS `quiz_question_source_config`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz_question_source_config`
(
    `id`                  varchar(36) NOT NULL,
    `quiz_id`             varchar(36) NOT NULL,
    `source_type`         varchar(10) NOT NULL,
    `source_id`           varchar(36) NOT NULL,
    `number_of_questions` int         NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FK_QuizQuestionSourceConfig_Quiz` (`quiz_id`),
    CONSTRAINT `FK_QuizQuestionSourceConfig_Quiz` FOREIGN KEY (`quiz_id`) REFERENCES `quiz` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_question_source_config`
--

LOCK TABLES `quiz_question_source_config` WRITE;
/*!40000 ALTER TABLE `quiz_question_source_config`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_question_source_config`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quizlevel`
--

DROP TABLE IF EXISTS `quizlevel`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quizlevel`
(
    `id`   varchar(36) NOT NULL,
    `name` varchar(255) DEFAULT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quizlevel`
--

LOCK TABLES `quizlevel` WRITE;
/*!40000 ALTER TABLE `quizlevel`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `quizlevel`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiztype`
--

DROP TABLE IF EXISTS `quiztype`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiztype`
(
    `id`   varchar(36) NOT NULL,
    `name` varchar(255) DEFAULT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiztype`
--

LOCK TABLES `quiztype` WRITE;
/*!40000 ALTER TABLE `quiztype`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `quiztype`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting`
--

DROP TABLE IF EXISTS `setting`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setting`
(
    `id`              varchar(36)  NOT NULL,
    `value`           varchar(255) NOT NULL,
    `status`          tinyint(1)   NOT NULL,
    `description`     varchar(500) DEFAULT NULL,
    `updated_date`    date         DEFAULT NULL,
    `setting_type_id` varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKSetting908739` (`setting_type_id`),
    CONSTRAINT `FKSetting908739` FOREIGN KEY (`setting_type_id`) REFERENCES `settingtype` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting`
--

LOCK TABLES `setting` WRITE;
/*!40000 ALTER TABLE `setting`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `setting`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting_question`
--

DROP TABLE IF EXISTS `setting_question`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setting_question`
(
    `setting_id`  varchar(36) NOT NULL,
    `question_id` varchar(36) NOT NULL,
    PRIMARY KEY (`setting_id`, `question_id`),
    KEY `question level` (`question_id`),
    CONSTRAINT `question level` FOREIGN KEY (`question_id`) REFERENCES `question` (`id`),
    CONSTRAINT `test type` FOREIGN KEY (`setting_id`) REFERENCES `setting` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting_question`
--

LOCK TABLES `setting_question` WRITE;
/*!40000 ALTER TABLE `setting_question`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `setting_question`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `setting_subject`
--

DROP TABLE IF EXISTS `setting_subject`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `setting_subject`
(
    `setting_id` varchar(36) NOT NULL,
    `subject_id` varchar(36) NOT NULL,
    PRIMARY KEY (`setting_id`, `subject_id`),
    KEY `FKSetting_Su420121` (`subject_id`),
    CONSTRAINT `FKSetting_Su420121` FOREIGN KEY (`subject_id`) REFERENCES `subject` (`id`),
    CONSTRAINT `Subject dimension` FOREIGN KEY (`setting_id`) REFERENCES `setting` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `setting_subject`
--

LOCK TABLES `setting_subject` WRITE;
/*!40000 ALTER TABLE `setting_subject`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `setting_subject`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settingtype`
--

DROP TABLE IF EXISTS `settingtype`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `settingtype`
(
    `id`   varchar(36)  NOT NULL,
    `name` varchar(255) NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settingtype`
--

LOCK TABLES `settingtype` WRITE;
/*!40000 ALTER TABLE `settingtype`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `settingtype`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `slider`
--

DROP TABLE IF EXISTS `slider`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `slider`
(
    `id`           varchar(36)  NOT NULL,
    `title`        varchar(255) NOT NULL,
    `image_url`    varchar(500) NOT NULL,
    `backlink_url` varchar(500)          DEFAULT NULL,
    `status`       tinyint(1)   NOT NULL DEFAULT '1',
    `account_id`   varchar(36)  NOT NULL,
    `note`         varchar(500)          DEFAULT NULL,
    PRIMARY KEY (`id`),
    KEY `FKSlider777469` (`account_id`),
    CONSTRAINT `FKSlider777469` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `slider`
--

LOCK TABLES `slider` WRITE;
/*!40000 ALTER TABLE `slider`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `slider`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject`
--

DROP TABLE IF EXISTS `subject`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject`
(
    `id`            varchar(36)  NOT NULL,
    `name`          varchar(255) NOT NULL,
    `thumbnail_url` varchar(500) DEFAULT NULL,
    `feature_flag`  tinyint      DEFAULT '0',
    `author`        varchar(36)  NOT NULL,
    `created_date`  date         DEFAULT NULL,
    `updated_date`  date         DEFAULT NULL,
    PRIMARY KEY (`id`),
    KEY `FKSubject873139` (`author`),
    CONSTRAINT `FKSubject873139` FOREIGN KEY (`author`) REFERENCES `contact` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject`
--

LOCK TABLES `subject` WRITE;
/*!40000 ALTER TABLE `subject`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `subject`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject_tagline`
--

DROP TABLE IF EXISTS `subject_tagline`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject_tagline`
(
    `subject_id` varchar(36) NOT NULL,
    `tagline_id` varchar(36) NOT NULL,
    PRIMARY KEY (`subject_id`, `tagline_id`),
    KEY `FKSubject_Ta221833` (`tagline_id`),
    CONSTRAINT `FKSubject_Ta221833` FOREIGN KEY (`tagline_id`) REFERENCES `tagline` (`id`),
    CONSTRAINT `FKSubject_Ta283943` FOREIGN KEY (`subject_id`) REFERENCES `subject` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject_tagline`
--

LOCK TABLES `subject_tagline` WRITE;
/*!40000 ALTER TABLE `subject_tagline`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `subject_tagline`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tagline`
--

DROP TABLE IF EXISTS `tagline`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tagline`
(
    `id`   varchar(36)  NOT NULL,
    `name` varchar(255) NOT NULL,
    PRIMARY KEY (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tagline`
--

LOCK TABLES `tagline` WRITE;
/*!40000 ALTER TABLE `tagline`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `tagline`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `topic`
--

DROP TABLE IF EXISTS `topic`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `topic`
(
    `id`         varchar(36)  NOT NULL,
    `name`       varchar(255) NOT NULL,
    `subject_id` varchar(36)  NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKTopic873139` (`subject_id`),
    CONSTRAINT `FKTopic873139` FOREIGN KEY (`subject_id`) REFERENCES `subject` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `topic`
--

LOCK TABLES `topic` WRITE;
/*!40000 ALTER TABLE `topic`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `topic`
    ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userlog`
--

DROP TABLE IF EXISTS `userlog`;
/*!40101 SET @saved_cs_client = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userlog`
(
    `id`           varchar(36) NOT NULL,
    `created_date` date        NOT NULL,
    `account_id`   varchar(36) NOT NULL,
    PRIMARY KEY (`id`),
    KEY `FKUserLog508255` (`account_id`),
    CONSTRAINT `FKUserLog508255` FOREIGN KEY (`account_id`) REFERENCES `account` (`id`)
) ENGINE = InnoDB
  DEFAULT CHARSET = utf8mb4
  COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userlog`
--

LOCK TABLES `userlog` WRITE;
/*!40000 ALTER TABLE `userlog`
    DISABLE KEYS */;
/*!40000 ALTER TABLE `userlog`
    ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE = @OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE = @OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS = @OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS = @OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT = @OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS = @OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION = @OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES = @OLD_SQL_NOTES */;

-- Dump completed on 2025-07-24 20:28:12
