#notification-popup {
  transition: opacity 0.5s;
  border-radius: 1rem;
  box-shadow: 0 8px 32px 0 rgba(60, 180, 75, 0.25),
    0 1.5px 4px rgba(0, 0, 0, 0.08);
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
}
.beautiful-toast .toast-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.beautiful-toast.bg-success .toast-icon {
  color: #fff;
  background: linear-gradient(135deg, #38d39f 0%, #38a3d1 100%);
  border-radius: 50%;
  padding: 0.3rem;
}
.beautiful-toast.bg-danger .toast-icon {
  color: #fff;
  background: linear-gradient(135deg, #ff5858 0%, #f09819 100%);
  border-radius: 50%;
  padding: 0.3rem;
}
.beautiful-toast .toast-body {
  font-weight: 500;
}
