CREATE TABLE Account
(
    id           varchar(36)  NOT NULL,
    email        varchar(255) NOT NULL,
    full_name    varchar(255) NOT NULL,
    password     varchar(255) NOT NULL,
    dob          date,
    gender       tinyint(1),
    created_date date         NOT NULL,
    status       tinyint(1)   NOT NULL,
    phone        varchar(255) NOT NULL,
    image_url    varchar(255),
    role_id      varchar(36)  NOT NULL,
    PRIMARY KEY (id),
    CONSTRAINT `account_chk_1` CHECK ((`gender` in (0, 1, 2))),
    CONSTRAINT `account_chk_2` CHECK (
        regexp_like(
                `email`,
                _utf8mb4 '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}$'
        )
        ),
    CONSTRAINT `account_chk_3` CHECK (
        regexp_like(
                `password`,
                _utf8mb4 '^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-={}\\[\\]:;"\'<>,.?/]).{8,}$'
        )
        ),
    CONSTRAINT `account_chk_4` CHECK (
        regexp_like(`phone`, _utf8mb4 '^\\+?[0-9]{10,15}$')
        )
);
CREATE TABLE Blog
(
    id            varchar(36)       NOT NULL,
    updated_date  date,
    thumbnail_url varchar(255),
    title         varchar(255)      NOT NULL,
    brief_info    varchar(255)      NOT NULL,
    content       varchar(255),
    status        tinyint(1)        NOT NULL,
    created_date  date              NOT NULL,
    category      varchar(36)       NOT NULL,
    account_id    varchar(36)       NOT NULL,
    views         int(10) DEFAULT 0 NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Chat
(
    id            varchar(36) NOT NULL,
    first_person  varchar(36) NOT NULL,
    second_person varchar(36) NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE ChatDetails
(
    id        varchar(36)  NOT NULL,
    message   varchar(255) NOT NULL,
    timestamp date         NOT NULL,
    sender    varchar(255) NOT NULL,
    chat_id   varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Contact
(
    id      varchar(36)  NOT NULL,
    name    varchar(255) NOT NULL,
    link    JSON         NOT NULL,
    email   varchar(255) NOT NULL,
    phone   varchar(255) NOT NULL,
    address varchar(255) NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Course
(
    id                varchar(36)  NOT NULL,
    title             varchar(255) NOT NULL,
    duration          float        NOT NULL,
    status            tinyint(1)   NOT NULL,
    description       varchar(255) NOT NULL,
    created_date      date         NOT NULL,
    updated_date      date,
    thumbnail_url     varchar(255),
    number_of_lessons int(3)       NOT NULL,
    topic_id          varchar(36)  NOT NULL,
    contact           varchar(36)  NOT NULL,
    expert_id         varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE LearningMaterial
(
    id                varchar(36)  NOT NULL,
    title             varchar(255) NOT NULL,
    updated_date      date,
    duration          int(10)      NOT NULL,
    video_content_url varchar(255),
    html_content      varchar(255) NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Lesson
(
    id             varchar(36)  NOT NULL,
    status         tinyint(1)   NOT NULL,
    name           varchar(255) NOT NULL,
    course_id      varchar(36)  NOT NULL,
    lesson_type_id varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Notification
(
    id         varchar(36)  NOT NULL,
    link       varchar(255) NOT NULL,
    message    varchar(255) NOT NULL,
    title      varchar(255) NOT NULL,
    status     tinyint(1)   NOT NULL,
    account_id varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE `Option`
(
    id           varchar(36)  NOT NULL,
    content      varchar(255) NOT NULL,
    is_true      tinyint(1)   NOT NULL,
    explaination varchar(255) NOT NULL,
    question_id  varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE PersonalCourse
(
    account_id  varchar(36)      NOT NULL,
    course_id   varchar(36)      NOT NULL,
    expire_date date,
    enroll_date date             NOT NULL,
    progress    int(2) DEFAULT 0 NOT NULL,
    status      varchar(255)     NULL,
    PRIMARY KEY (account_id,
                 course_id),
    CONSTRAINT `personalcourse_chk_1` CHECK ( status in ('PAID', 'SENT', 'ACCEPTED', 'DECLINED'))
);
CREATE TABLE PersonalLesson
(
    account_id varchar(36)              NOT NULL,
    course_id  varchar(36)              NOT NULL,
    lesson_id  varchar(36)              NOT NULL,
    isDone     tinyint(1) DEFAULT false NOT NULL,
    PRIMARY KEY (account_id,
                 course_id,
                 lesson_id)
);
CREATE TABLE PersonalOption
(
    option_id   varchar(36) NOT NULL,
    account_id  varchar(36) NOT NULL,
    course_id   varchar(36) NOT NULL,
    lesson_id   varchar(36) NOT NULL,
    question_id varchar(36) NOT NULL,
    has_choosen tinyint(1)  NOT NULL,
    PRIMARY KEY (option_id,
                 account_id,
                 course_id,
                 lesson_id,
                 question_id)
);
CREATE TABLE PersonalQuestion
(
    account_id  varchar(36)          NOT NULL,
    course_id   varchar(36)          NOT NULL,
    lesson_id   varchar(36)          NOT NULL,
    question_id varchar(36)          NOT NULL,
    has_answer  tinyint(1) DEFAULT 0 NOT NULL,
    is_mark     tinyint(1) DEFAULT 0 NOT NULL,
    PRIMARY KEY (account_id,
                 course_id,
                 lesson_id,
                 question_id)
);
CREATE TABLE PersonalQuiz
(
    account_id                 varchar(36)          NOT NULL,
    course_id                  varchar(36)          NOT NULL,
    lesson_id                  varchar(36)          NOT NULL,
    has_passed                 tinyint(1) DEFAULT 0 NOT NULL,
    mark                       int(3),
    number_of_correct_question int(2),
    taken_date                 date                 NOT NULL,
    PRIMARY KEY (account_id,
                 course_id,
                 lesson_id)
);
CREATE TABLE PricePackage
(
    id              varchar(36)  NOT NULL,
    course_id       varchar(36)  NOT NULL,
    title           varchar(255) NOT NULL,
    price           int(10)      NOT NULL,
    sale_price      int(10)      NOT NULL,
    access_duration int(10)      NOT NULL,
    status          tinyint(1)   NOT NULL,
    description     varchar(255),
    PRIMARY KEY (id,
                 course_id)
);
CREATE TABLE Question
(
    id       varchar(36)  NOT NULL,
    content  varchar(255) NOT NULL,
    topic_id varchar(36)  NOT NULL,
    quiz_id  varchar(36)  NOT NULL,
    level    varchar(255) NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Quiz
(
    lesson_id          varchar(36)      NOT NULL,
    duration           int(2)           NOT NULL,
    pass_rate          float,
    updated_date       date             NOT NULL,
    number_of_question int(2) DEFAULT 0 NOT NULL,
    description        varchar(255)     NOT NULL,
    title              varchar(255)     NOT NULL,
    topic_id           varchar(36)      NOT NULL,
    type               varchar(36)      NOT NULL,
    level              varchar(36)      NOT NULL,
    PRIMARY KEY (lesson_id)
);
CREATE TABLE QuizLevel
(
    id   varchar(36) NOT NULL,
    name varchar(255),
    PRIMARY KEY (id)
);
CREATE TABLE QuizType
(
    id   varchar(36) NOT NULL,
    name varchar(255),
    PRIMARY KEY (id)
);
CREATE TABLE Setting
(
    id              varchar(36)  NOT NULL,
    value           varchar(255) NOT NULL,
    status          tinyint(1)   NOT NULL,
    description     varchar(255),
    updated_date    date,
    setting_type_id varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Setting_Question
(
    setting_id  varchar(36) NOT NULL,
    question_id varchar(36) NOT NULL,
    PRIMARY KEY (setting_id,
                 question_id)
);
CREATE TABLE Setting_Subject
(
    setting_id varchar(36) NOT NULL,
    subject_id varchar(36) NOT NULL,
    PRIMARY KEY (setting_id,
                 subject_id)
);
CREATE TABLE SettingType
(
    id   varchar(36)  NOT NULL,
    name varchar(255) NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Slider
(
    id           varchar(36)          NOT NULL,
    image_url    varchar(255)         NOT NULL,
    backlink_url varchar(255),
    status       tinyint(1) DEFAULT 0 NOT NULL,
    account_id   varchar(36)          NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Subject
(
    id            varchar(36)  NOT NULL,
    name          varchar(255) NOT NULL,
    thumbnail_url varchar(255),
    PRIMARY KEY (id)
);
CREATE TABLE Subject_Tagline
(
    subject_id varchar(36) NOT NULL,
    tagline_id varchar(36) NOT NULL,
    PRIMARY KEY (subject_id,
                 tagline_id)
);
CREATE TABLE Tagline
(
    id   varchar(36)  NOT NULL,
    name varchar(255) NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE Topic
(
    id         varchar(36)  NOT NULL,
    name       varchar(255) NOT NULL,
    subject_id varchar(36)  NOT NULL,
    PRIMARY KEY (id)
);
CREATE TABLE UserLog
(
    id           varchar(36) NOT NULL,
    created_date date        NOT NULL,
    account_id   varchar(36) NOT NULL,
    PRIMARY KEY (id)
);
ALTER TABLE Course
    ADD CONSTRAINT FKCourse6215 FOREIGN KEY (contact) REFERENCES Contact (id);
ALTER TABLE Quiz
    ADD CONSTRAINT FKQuiz471131 FOREIGN KEY (level) REFERENCES QuizLevel (id);
ALTER TABLE Quiz
    ADD CONSTRAINT FKQuiz75766 FOREIGN KEY (type) REFERENCES QuizType (id);
ALTER TABLE Subject_Tagline
    ADD CONSTRAINT FKSubject_Ta221833 FOREIGN KEY (tagline_id) REFERENCES Tagline (id);
ALTER TABLE Subject_Tagline
    ADD CONSTRAINT FKSubject_Ta283943 FOREIGN KEY (subject_id) REFERENCES Subject (id);
ALTER TABLE PricePackage
    ADD CONSTRAINT FKPricePacka152688 FOREIGN KEY (course_id) REFERENCES Course (id);
ALTER TABLE Setting_Subject
    ADD CONSTRAINT FKSetting_Su420121 FOREIGN KEY (subject_id) REFERENCES Subject (id);
ALTER TABLE PersonalQuestion
    ADD CONSTRAINT FKPersonalQu428012 FOREIGN KEY (question_id) REFERENCES Question (id);
ALTER TABLE PersonalQuestion
    ADD CONSTRAINT FKPersonalQu214880 FOREIGN KEY (account_id, course_id, lesson_id) REFERENCES PersonalQuiz (account_id, course_id, lesson_id);
ALTER TABLE PersonalQuiz
    ADD CONSTRAINT FKPersonalQu344927 FOREIGN KEY (account_id, course_id, lesson_id) REFERENCES PersonalLesson (account_id, course_id, lesson_id);
ALTER TABLE PersonalOption
    ADD CONSTRAINT FKPersonalOp130168 FOREIGN KEY (option_id) REFERENCES `Option` (id);
ALTER TABLE PersonalLesson
    ADD CONSTRAINT FKPersonalLe846456 FOREIGN KEY (lesson_id) REFERENCES Lesson (id);
ALTER TABLE PersonalLesson
    ADD CONSTRAINT FKPersonalLe96067 FOREIGN KEY (account_id, course_id) REFERENCES PersonalCourse (account_id, course_id);
ALTER TABLE PersonalOption
    ADD CONSTRAINT FKPersonalOp32617 FOREIGN KEY (account_id, course_id, lesson_id, question_id) REFERENCES PersonalQuestion (account_id, course_id, lesson_id, question_id);
ALTER TABLE Question
    ADD CONSTRAINT FKQuestion523038 FOREIGN KEY (topic_id) REFERENCES Topic (id);
ALTER TABLE Quiz
    ADD CONSTRAINT FKQuiz767071 FOREIGN KEY (topic_id) REFERENCES Topic (id);
ALTER TABLE Topic
    ADD CONSTRAINT FKTopic873139 FOREIGN KEY (subject_id) REFERENCES Subject (id);
ALTER TABLE Chat
    ADD CONSTRAINT FKChat197105 FOREIGN KEY (second_person) REFERENCES Account (id);
ALTER TABLE Chat
    ADD CONSTRAINT FKChat395442 FOREIGN KEY (first_person) REFERENCES Account (id);
ALTER TABLE ChatDetails
    ADD CONSTRAINT FKChatDetail513929 FOREIGN KEY (chat_id) REFERENCES Chat (id);
ALTER TABLE Notification
    ADD CONSTRAINT FKNotificati558491 FOREIGN KEY (account_id) REFERENCES Account (id);
ALTER TABLE Course
    ADD CONSTRAINT FKCourse968779 FOREIGN KEY (topic_id) REFERENCES Topic (id);
ALTER TABLE Blog
    ADD CONSTRAINT FKBlog922018 FOREIGN KEY (account_id) REFERENCES Account (id);
ALTER TABLE UserLog
    ADD CONSTRAINT FKUserLog508255 FOREIGN KEY (account_id) REFERENCES Account (id);
ALTER TABLE Slider
    ADD CONSTRAINT FKSlider777469 FOREIGN KEY (account_id) REFERENCES Account (id);
ALTER TABLE `Option`
    ADD CONSTRAINT FKOption204933 FOREIGN KEY (question_id) REFERENCES Question (id);
ALTER TABLE Question
    ADD CONSTRAINT FKQuestion112697 FOREIGN KEY (quiz_id) REFERENCES Quiz (lesson_id);
ALTER TABLE Quiz
    ADD CONSTRAINT FKQuiz231485 FOREIGN KEY (lesson_id) REFERENCES Lesson (id);
ALTER TABLE Lesson
    ADD CONSTRAINT FKLesson764776 FOREIGN KEY (course_id) REFERENCES Course (id);
ALTER TABLE LearningMaterial
    ADD CONSTRAINT FKLearningMa384166 FOREIGN KEY (id) REFERENCES Lesson (id);
ALTER TABLE Setting
    ADD CONSTRAINT FKSetting908739 FOREIGN KEY (setting_type_id) REFERENCES SettingType (id);
ALTER TABLE PersonalCourse
    ADD CONSTRAINT FKPersonalCo602046 FOREIGN KEY (course_id) REFERENCES Course (id);
ALTER TABLE PersonalCourse
    ADD CONSTRAINT FKPersonalCo728981 FOREIGN KEY (account_id) REFERENCES Account (id);
ALTER TABLE Lesson
    ADD CONSTRAINT `lesson types` FOREIGN KEY (lesson_type_id) REFERENCES Setting (id);
ALTER TABLE Blog
    ADD CONSTRAINT `post categories` FOREIGN KEY (category) REFERENCES Setting (id);
ALTER TABLE Setting_Question
    ADD CONSTRAINT `question level` FOREIGN KEY (question_id) REFERENCES Question (id);
ALTER TABLE Account
    ADD CONSTRAINT role FOREIGN KEY (role_id) REFERENCES Setting (id);
ALTER TABLE Setting_Subject
    ADD CONSTRAINT `Subject dimension` FOREIGN KEY (setting_id) REFERENCES Setting (id);
ALTER TABLE Setting_Question
    ADD CONSTRAINT `test type` FOREIGN KEY (setting_id) REFERENCES Setting (id);
ALTER TABLE Course
    ADD CONSTRAINT `fk_course_expert` FOREIGN KEY (expert_id) REFERENCES account (id);
INSERT INTO QuizLevel (id, name)
VALUES (UUID(), 'Beginner'),
       (UUID(), 'Intermediate'),
       (UUID(), 'Advanced'),
       (UUID(), 'Expert'),
       (UUID(), 'Master');

INSERT INTO QuizType (id, name)
VALUES (UUID(), 'Multiple Choice'),
       (UUID(), 'True/False'),
       (UUID(), 'Fill-in-the-blank'),
       (UUID(), 'Short Answer'),
       (UUID(), 'Matching');

INSERT INTO Tagline (id, name)
VALUES (UUID(), 'Learn Anywhere'),
       (UUID(), 'Master New Skills'),
       (UUID(), 'Unlock Your Potential'),
       (UUID(), 'Future-Proof Your Career'),
       (UUID(), 'Knowledge at Your Fingertips');


INSERT INTO Subject (id, name, thumbnail_url)
VALUES (UUID(), 'Mathematics', 'http://example.com/math_thumb.jpg'),
       (UUID(), 'Computer Science', 'http://example.com/cs_thumb.jpg'),
       (UUID(), 'Physics', 'http://example.com/physics_thumb.jpg'),
       (UUID(), 'Chemistry', 'http://example.com/chem_thumb.jpg'),
       (UUID(), 'Biology', 'http://example.com/bio_thumb.jpg');

INSERT INTO SettingType (id, name)
VALUES (UUID(), 'Lesson Type'),
       (UUID(), 'Blog Category'),
       (UUID(), 'Question Level'),
       (UUID(), 'Account Role'),
       (UUID(), 'Subject Dimension');

SET @setting_id_1 = UUID();
SET @setting_id_2 = UUID();
SET @setting_id_3 = UUID();
SET @setting_id_4 = UUID();
SET @setting_id_5 = UUID();
SET @setting_id_6 = UUID(); -- For blog category
SET @setting_id_7 = UUID(); -- For another blog category
SET @setting_id_8 = UUID(); -- For question level
SET @setting_id_9 = UUID(); -- For account role
SET @setting_id_10 = UUID(); -- For subject dimension


-- Generate UUIDs for Subject_Tagline first, as they are referenced by Subject
SET @subject_id_1 = (SELECT id
                     FROM Subject
                     WHERE name = 'Mathematics');
SET @subject_id_2 = (SELECT id
                     FROM Subject
                     WHERE name = 'Computer Science');
SET @subject_id_3 = (SELECT id
                     FROM Subject
                     WHERE name = 'Physics');
SET @subject_id_4 = (SELECT id
                     FROM Subject
                     WHERE name = 'Chemistry');
SET @subject_id_5 = (SELECT id
                     FROM Subject
                     WHERE name = 'Biology');

SET @tagline_id_1 = (SELECT id
                     FROM Tagline
                     WHERE name = 'Learn Anywhere');
SET @tagline_id_2 = (SELECT id
                     FROM Tagline
                     WHERE name = 'Master New Skills');
SET @tagline_id_3 = (SELECT id
                     FROM Tagline
                     WHERE name = 'Unlock Your Potential');
SET @tagline_id_4 = (SELECT id
                     FROM Tagline
                     WHERE name = 'Future-Proof Your Career');
SET @tagline_id_5 = (SELECT id
                     FROM Tagline
                     WHERE name = 'Knowledge at Your Fingertips');

INSERT INTO Subject_Tagline (subject_id, tagline_id)
VALUES (@subject_id_1, @tagline_id_1),
       (@subject_id_2, @tagline_id_2),
       (@subject_id_3, @tagline_id_3),
       (@subject_id_4, @tagline_id_4),
       (@subject_id_5, @tagline_id_5);

-- Generate UUIDs for Topic first, as they are referenced by Course and Quiz
SET @topic_id_1 = UUID();
SET @topic_id_2 = UUID();
SET @topic_id_3 = UUID();
SET @topic_id_4 = UUID();
SET @topic_id_5 = UUID();

INSERT INTO Topic (id, name, subject_id)
VALUES (@topic_id_1, 'Algebra', @subject_id_1),
       (@topic_id_2, 'Data Structures', @subject_id_2),
       (@topic_id_3, 'Mechanics', @subject_id_3),
       (@topic_id_4, 'Organic Chemistry', @subject_id_4),
       (@topic_id_5, 'Genetics', @subject_id_5);

-- Generate UUIDs for Contact first, as they are referenced by Course
SET @contact_id_1 = (SELECT id
                     FROM Contact
                     WHERE name = 'Support Team A');
SET @contact_id_2 = (SELECT id
                     FROM Contact
                     WHERE name = 'Support Team B');
SET @contact_id_3 = (SELECT id
                     FROM Contact
                     WHERE name = 'Support Team C');
SET @contact_id_4 = (SELECT id
                     FROM Contact
                     WHERE name = 'Support Team D');
SET @contact_id_5 = (SELECT id
                     FROM Contact
                     WHERE name = 'Support Team E');

-- Generate UUIDs for Account
SET @account_id_1 = UUID();
SET @account_id_2 = UUID();
SET @account_id_3 = UUID();
SET @account_id_4 = UUID();
SET @account_id_5 = UUID();


-- Generate UUIDs for Course
SET @course_id_1 = UUID();
SET @course_id_2 = UUID();
SET @course_id_3 = UUID();
SET @course_id_4 = UUID();
SET @course_id_5 = UUID();



-- Generate UUIDs for Lesson
SET @lesson_id_1 = UUID();
SET @lesson_id_2 = UUID();
SET @lesson_id_3 = UUID();
SET @lesson_id_4 = UUID();
SET @lesson_id_5 = UUID();

INSERT INTO Lesson (id, status, name, course_id, lesson_type_id)
VALUES (@lesson_id_1, 1, 'Algebra Fundamentals', @course_id_1, @setting_id_1),
       (@lesson_id_2, 1, 'Quiz: Basic Algebra', @course_id_1, @setting_id_2),
       (@lesson_id_3, 1, 'Linked Lists', @course_id_2, @setting_id_1),
       (@lesson_id_4, 1, 'Quiz: Data Structures I', @course_id_2, @setting_id_2),
       (@lesson_id_5, 1, 'Newton''s Laws', @course_id_3, @setting_id_1);

-- Generate UUIDs for QuizLevel and QuizType
SET @quiz_level_id_1 = (SELECT id
                        FROM QuizLevel
                        WHERE name = 'Beginner');
SET @quiz_level_id_2 = (SELECT id
                        FROM QuizLevel
                        WHERE name = 'Intermediate');
SET @quiz_type_id_1 = (SELECT id
                       FROM QuizType
                       WHERE name = 'Multiple Choice');
SET @quiz_type_id_2 = (SELECT id
                       FROM QuizType
                       WHERE name = 'True/False');
SET @quiz_type_id_3 = (SELECT id
                       FROM QuizType
                       WHERE name = 'Fill-in-the-blank');


-- Generate UUIDs for Question
SET @question_id_1 = UUID();
SET @question_id_2 = UUID();
SET @question_id_3 = UUID();
SET @question_id_4 = UUID();
SET @question_id_5 = UUID();


-- Generate UUIDs for Option
SET @option_id_1 = UUID();
SET @option_id_2 = UUID();
SET @option_id_3 = UUID();
SET @option_id_4 = UUID();
SET @option_id_5 = UUID();


INSERT INTO Setting_Question (setting_id, question_id)
VALUES (@setting_id_3, @question_id_1),
       (@setting_id_3, @question_id_2),
       (@setting_id_3, @question_id_3),
       (@setting_id_4, @question_id_4),
       (@setting_id_4, @question_id_5);


INSERT INTO PersonalCourse (account_id, course_id, expire_date, enroll_date, progress, status)
VALUES (@account_id_1, @course_id_1, '2024-06-01', '2023-01-10', 50, 'PAID'),
       (@account_id_2, @course_id_2, '2024-10-01', '2023-02-15', 20, 'SENT'),
       (@account_id_3, @course_id_3, '2024-08-01', '2023-03-20', 80, 'ACCEPTED'),
       (@account_id_4, @course_id_4, '2024-12-01', '2023-04-25', 10, null),
       (@account_id_5, @course_id_5, '2024-09-01', '2023-05-01', 0, null);

INSERT INTO PersonalLesson (account_id, course_id, lesson_id, isDone)
VALUES (@account_id_1, @course_id_1, @lesson_id_1, 1),
       (@account_id_1, @course_id_1, @lesson_id_2, 0),
       (@account_id_2, @course_id_2, @lesson_id_3, 1),
       (@account_id_2, @course_id_2, @lesson_id_4, 0),
       (@account_id_3, @course_id_3, @lesson_id_5, 1);

INSERT INTO PersonalQuiz (account_id, course_id, lesson_id, has_passed, mark, number_of_correct_question, taken_date)
VALUES (@account_id_1, @course_id_1, @lesson_id_1, 0, 6, 6, '2024-03-01'),
       (@account_id_2, @course_id_2, @lesson_id_4, 0, 8, 8, '2024-04-01'),
       (@account_id_3, @course_id_3, @lesson_id_5, 1, 18, 18, '2024-05-01'),
       (@account_id_1, @course_id_1, @lesson_id_2, 0, 5, 5, '2024-05-10'),
       (@account_id_2, @course_id_2, @lesson_id_3, 0, 7, 7, '2024-05-15');

INSERT INTO PersonalQuestion (account_id, course_id, lesson_id, question_id, has_answer, is_mark)
VALUES (@account_id_1, @course_id_1, @lesson_id_2, @question_id_1, 1, 0),
       (@account_id_1, @course_id_1, @lesson_id_2, @question_id_4, 0, 1),
       (@account_id_2, @course_id_2, @lesson_id_4, @question_id_2, 1, 0),
       (@account_id_2, @course_id_2, @lesson_id_4, @question_id_5, 1, 0),
       (@account_id_3, @course_id_3, @lesson_id_5, @question_id_3, 1, 0);

INSERT INTO PersonalOption (option_id, account_id, course_id, lesson_id, question_id, has_choosen)
VALUES (@option_id_1, @account_id_1, @course_id_1, @lesson_id_2, @question_id_1, 1),
       (@option_id_3, @account_id_2, @course_id_2, @lesson_id_4, @question_id_2, 1),
       (@option_id_4, @account_id_3, @course_id_3, @lesson_id_5, @question_id_3, 1),
       (@option_id_2, @account_id_1, @course_id_1, @lesson_id_2, @question_id_1, 0),
       (@option_id_5, @account_id_2, @course_id_2, @lesson_id_4, @question_id_5, 1);

-- Generate UUIDs for Chat
SET @chat_id_1 = UUID();
SET @chat_id_2 = UUID();
SET @chat_id_3 = UUID();
SET @chat_id_4 = UUID();
SET @chat_id_5 = UUID();

INSERT INTO Chat (id, first_person, second_person)
VALUES (@chat_id_1, @account_id_1, @account_id_2),
       (@chat_id_2, @account_id_3, @account_id_4),
       (@chat_id_3, @account_id_5, @account_id_1),
       (@chat_id_4, @account_id_2, @account_id_3),
       (@chat_id_5, @account_id_4, @account_id_5);

INSERT INTO ChatDetails (id, message, timestamp, sender, chat_id)
VALUES (UUID(), 'Hi Jane, how are you?', '2024-05-20', @account_id_1, @chat_id_1),
       (UUID(), 'I am good, John! How about you?', '2024-05-20', @account_id_2, @chat_id_1),
       (UUID(), 'Meeting at 3 PM today?', '2024-05-21', @account_id_3, @chat_id_2),
       (UUID(), 'Yes, see you there.', '2024-05-21', @account_id_4, @chat_id_2),
       (UUID(), 'Checking in on the project.', '2024-05-22', @account_id_5, @chat_id_3);



INSERT INTO UserLog (id, created_date, account_id)
VALUES (UUID(), '2024-05-20', @account_id_1),
       (UUID(), '2024-05-20', @account_id_2),
       (UUID(), '2024-05-21', @account_id_3),
       (UUID(), '2024-05-21', @account_id_4),
       (UUID(), '2024-05-22', @account_id_5);


INSERT INTO Setting_Subject (setting_id, subject_id)
VALUES (@setting_id_5, @subject_id_1),
       (@setting_id_5, @subject_id_2),
       (@setting_id_5, @subject_id_3),
       (@setting_id_5, @subject_id_4),
       (@setting_id_5, @subject_id_5);